body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-574px;
  width:2592px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:531px;
  width:66px;
  height:66px;
  display:flex;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:435px;
  width:66px;
  height:66px;
  display:flex;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:435px;
  width:66px;
  height:66px;
  display:flex;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:435px;
  width:66px;
  height:66px;
  display:flex;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:435px;
  width:66px;
  height:66px;
  display:flex;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:329px;
  width:66px;
  height:66px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:329px;
  width:66px;
  height:66px;
  display:flex;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:222px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:329px;
  width:0px;
  height:0px;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-29px;
  width:188px;
  height:8px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:275px;
  width:0px;
  height:0px;
}
#u435_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:198px;
  height:8px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:435px;
  width:0px;
  height:0px;
}
#u436_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-31px;
  width:98px;
  height:12px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:531px;
  width:0px;
  height:0px;
}
#u437_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:531px;
  width:0px;
  height:0px;
}
#u438_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-25px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:531px;
  width:0px;
  height:0px;
}
#u439_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:531px;
  width:0px;
  height:0px;
}
#u440_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:531px;
  width:0px;
  height:0px;
}
#u441_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:531px;
  width:0px;
  height:0px;
}
#u442_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-25px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:531px;
  width:0px;
  height:0px;
}
#u443_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-25px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:531px;
  width:0px;
  height:0px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-25px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:435px;
  width:0px;
  height:0px;
}
#u445_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-31px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:435px;
  width:0px;
  height:0px;
}
#u446_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-31px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:435px;
  width:0px;
  height:0px;
}
#u447_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-31px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:689px;
  width:1285px;
  height:30px;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:255px;
  width:0px;
  height:0px;
}
#u456_seg0 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:11px;
  width:368px;
  height:42px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u456_seg1 {
  border-width:0px;
  position:absolute;
  left:-610px;
  top:235px;
  width:368px;
  height:48px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:-397px;
  top:91px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:362px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:68px;
  width:278px;
  height:42px;
  -webkit-transform:rotate(132deg);
  -moz-transform:rotate(132deg);
  -ms-transform:rotate(132deg);
  transform:rotate(132deg);
}
#u457_seg1 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:252px;
  width:262px;
  height:44px;
  -webkit-transform:rotate(28deg);
  -moz-transform:rotate(28deg);
  -ms-transform:rotate(28deg);
  transform:rotate(28deg);
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:191px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:468px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:40px;
  width:132px;
  height:12px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:148px;
  width:132px;
  height:14px;
  -webkit-transform:rotate(73deg);
  -moz-transform:rotate(73deg);
  -ms-transform:rotate(73deg);
  transform:rotate(73deg);
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:501px;
  width:0px;
  height:0px;
}
#u459_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:47px;
  width:118px;
  height:16px;
  -webkit-transform:rotate(79deg);
  -moz-transform:rotate(79deg);
  -ms-transform:rotate(79deg);
  transform:rotate(79deg);
}
#u459_seg1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:143px;
  width:122px;
  height:14px;
  -webkit-transform:rotate(41deg);
  -moz-transform:rotate(41deg);
  -ms-transform:rotate(41deg);
  transform:rotate(41deg);
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:101px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:468px;
  width:0px;
  height:0px;
}
#u460_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:56px;
  width:168px;
  height:16px;
  -webkit-transform:rotate(49deg);
  -moz-transform:rotate(49deg);
  -ms-transform:rotate(49deg);
  transform:rotate(49deg);
}
#u460_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:164px;
  width:188px;
  height:12px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:468px;
  width:0px;
  height:0px;
}
#u461_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:30px;
  width:168px;
  height:14px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u461_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:136px;
  width:170px;
  height:16px;
  -webkit-transform:rotate(53deg);
  -moz-transform:rotate(53deg);
  -ms-transform:rotate(53deg);
  transform:rotate(53deg);
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:777px;
  width:336px;
  height:30px;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:93px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:702px;
  width:1px;
  height:92px;
  display:flex;
  -webkit-transform:rotate(53.6746440526051deg);
  -moz-transform:rotate(53.6746440526051deg);
  -ms-transform:rotate(53.6746440526051deg);
  transform:rotate(53.6746440526051deg);
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:90px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:703px;
  width:1px;
  height:89px;
  display:flex;
  -webkit-transform:rotate(-51.4956770036556deg);
  -moz-transform:rotate(-51.4956770036556deg);
  -ms-transform:rotate(-51.4956770036556deg);
  transform:rotate(-51.4956770036556deg);
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:90px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:376px;
  width:5px;
  height:74px;
  display:flex;
  -webkit-transform:rotate(144.108583073775deg);
  -moz-transform:rotate(144.108583073775deg);
  -ms-transform:rotate(144.108583073775deg);
  transform:rotate(144.108583073775deg);
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:350px;
  width:127px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:2192px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2300px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2404px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2511px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2616px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2724px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2829px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2935px;
  top:550px;
  width:66px;
  height:66px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2246px;
  top:454px;
  width:66px;
  height:66px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2458px;
  top:454px;
  width:66px;
  height:66px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:2666px;
  top:454px;
  width:66px;
  height:66px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2876px;
  top:454px;
  width:66px;
  height:66px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2351px;
  top:348px;
  width:66px;
  height:66px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2773px;
  top:348px;
  width:66px;
  height:66px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:2554px;
  top:241px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2384px;
  top:348px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-30px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:2616px;
  top:294px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:198px;
  height:10px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2279px;
  top:454px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-30px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:2225px;
  top:550px;
  width:0px;
  height:0px;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2333px;
  top:550px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-26px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2437px;
  top:550px;
  width:0px;
  height:0px;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2544px;
  top:550px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:2649px;
  top:550px;
  width:0px;
  height:0px;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:50px;
  height:12px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2757px;
  top:550px;
  width:0px;
  height:0px;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-26px;
  width:54px;
  height:12px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2862px;
  top:550px;
  width:0px;
  height:0px;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2968px;
  top:550px;
  width:0px;
  height:0px;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:2491px;
  top:454px;
  width:0px;
  height:0px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-32px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2699px;
  top:454px;
  width:0px;
  height:0px;
}
#u497_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-32px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2909px;
  top:454px;
  width:0px;
  height:0px;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-32px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2077px;
  top:689px;
  width:1089px;
  height:30px;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:1936px;
  top:689px;
  width:107px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:2225px;
  top:616px;
  width:0px;
  height:0px;
}
#u512_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:12px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u512_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:46px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(78deg);
  -moz-transform:rotate(78deg);
  -ms-transform:rotate(78deg);
  transform:rotate(78deg);
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2333px;
  top:616px;
  width:0px;
  height:0px;
}
#u513_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(82deg);
  -moz-transform:rotate(82deg);
  -ms-transform:rotate(82deg);
  transform:rotate(82deg);
}
#u513_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:48px;
  width:42px;
  height:10px;
  -webkit-transform:rotate(105deg);
  -moz-transform:rotate(105deg);
  -ms-transform:rotate(105deg);
  transform:rotate(105deg);
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:2437px;
  top:616px;
  width:0px;
  height:0px;
}
#u514_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(84deg);
  -moz-transform:rotate(84deg);
  -ms-transform:rotate(84deg);
  transform:rotate(84deg);
}
#u514_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:48px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2544px;
  top:616px;
  width:0px;
  height:0px;
}
#u515_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:14px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u515_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:50px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:2649px;
  top:616px;
  width:0px;
  height:0px;
}
#u516_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u516_seg1 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:48px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:2757px;
  top:616px;
  width:0px;
  height:0px;
}
#u517_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:14px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(102deg);
  -moz-transform:rotate(102deg);
  -ms-transform:rotate(102deg);
  transform:rotate(102deg);
}
#u517_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:50px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(125deg);
  -moz-transform:rotate(125deg);
  -ms-transform:rotate(125deg);
  transform:rotate(125deg);
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:2862px;
  top:616px;
  width:0px;
  height:0px;
}
#u518_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:14px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u518_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:44px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(129deg);
  -moz-transform:rotate(129deg);
  -ms-transform:rotate(129deg);
  transform:rotate(129deg);
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:2968px;
  top:616px;
  width:0px;
  height:0px;
}
#u519_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:16px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u519_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:50px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(133deg);
  -moz-transform:rotate(133deg);
  -ms-transform:rotate(133deg);
  transform:rotate(133deg);
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:809px;
  width:0px;
  height:0px;
}
#u520_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:462px;
  height:36px;
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -ms-transform:rotate(6deg);
  transform:rotate(6deg);
}
#u520_seg1 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:-27px;
  width:456px;
  height:30px;
  -webkit-transform:rotate(-17deg);
  -moz-transform:rotate(-17deg);
  -ms-transform:rotate(-17deg);
  transform:rotate(-17deg);
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:397px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:826px;
  width:448px;
  height:30px;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:857px;
  width:0px;
  height:0px;
}
#u526_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:906px;
  height:52px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u526_seg1 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:-23px;
  width:914px;
  height:60px;
  -webkit-transform:rotate(-16deg);
  -moz-transform:rotate(-16deg);
  -ms-transform:rotate(-16deg);
  transform:rotate(-16deg);
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:841px;
  top:100px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:225px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:661px;
  width:1px;
  height:224px;
  display:flex;
  -webkit-transform:rotate(60.6246879766491deg);
  -moz-transform:rotate(60.6246879766491deg);
  -ms-transform:rotate(60.6246879766491deg);
  transform:rotate(60.6246879766491deg);
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:467px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:539px;
  width:1px;
  height:466px;
  display:flex;
  -webkit-transform:rotate(76.8854335790967deg);
  -moz-transform:rotate(76.8854335790967deg);
  -ms-transform:rotate(76.8854335790967deg);
  transform:rotate(76.8854335790967deg);
}
#u528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:243px;
  width:306px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:121px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:255px;
  width:5px;
  height:105px;
  display:flex;
  -webkit-transform:rotate(-121.50861723908deg);
  -moz-transform:rotate(-121.50861723908deg);
  -ms-transform:rotate(-121.50861723908deg);
  transform:rotate(-121.50861723908deg);
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
