body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-363.7475102090764px;
  width:452.2524897909236px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:142px;
  width:292px;
  height:29px;
  display:flex;
  font-size:21px;
}
#u0 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:288px;
  width:438px;
  height:30px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:370px;
  width:198px;
  height:30px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:377px;
  width:28px;
  height:16px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:370px;
  width:99px;
  height:30px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:318px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:22px;
  width:124px;
  height:8px;
  -webkit-transform:rotate(-25.725612643365675deg);
  -moz-transform:rotate(-25.725612643365675deg);
  -ms-transform:rotate(-25.725612643365675deg);
  transform:rotate(-25.725612643365675deg);
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:317px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:23px;
  width:144px;
  height:8px;
  -webkit-transform:rotate(-157.44275336529435deg);
  -moz-transform:rotate(-157.44275336529435deg);
  -ms-transform:rotate(-157.44275336529435deg);
  transform:rotate(-157.44275336529435deg);
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:206px;
  width:198px;
  height:30px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:206px;
  width:201px;
  height:30px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:212px;
  width:28px;
  height:16px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:236px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:22px;
  width:114px;
  height:8px;
  -webkit-transform:rotate(-27.710814015253096deg);
  -moz-transform:rotate(-27.710814015253096deg);
  -ms-transform:rotate(-27.710814015253096deg);
  transform:rotate(-27.710814015253096deg);
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:288px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:-30px;
  width:248px;
  height:8px;
  -webkit-transform:rotate(12.175912517799759deg);
  -moz-transform:rotate(12.175912517799759deg);
  -ms-transform:rotate(12.175912517799759deg);
  transform:rotate(12.175912517799759deg);
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
