body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-488px;
  width:464px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:73px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:470px;
  width:150px;
  height:73px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:451px;
  width:150px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:374px;
  width:150px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:507px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-5px;
  width:143px;
  height:10px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-18px;
  width:10px;
  height:23px;
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-23px;
  width:20px;
  height:20px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:451px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-39px;
  width:10px;
  height:44px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-44px;
  width:20px;
  height:20px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:482px;
  width:15px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:73px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:742px;
  width:150px;
  height:73px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:644px;
  width:150px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:742px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-60px;
  width:10px;
  height:65px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-65px;
  width:20px;
  height:20px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:713px;
  width:15px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
