body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1419px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:821px;
  width:553px;
  height:60px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:678px;
  width:66px;
  height:66px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:582px;
  width:66px;
  height:66px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:582px;
  width:66px;
  height:66px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:582px;
  width:66px;
  height:66px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:582px;
  width:66px;
  height:66px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:476px;
  width:66px;
  height:66px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:476px;
  width:66px;
  height:66px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:369px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:476px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-30px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:422px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:198px;
  height:10px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:582px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-30px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:678px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:678px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-26px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:678px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:678px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:678px;
  width:0px;
  height:0px;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:50px;
  height:12px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:678px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-26px;
  width:54px;
  height:12px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:678px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:678px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:582px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-32px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:582px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-32px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:582px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-32px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:836px;
  width:1285px;
  height:30px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:402px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:10px;
  width:368px;
  height:44px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-610px;
  top:236px;
  width:368px;
  height:48px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-397px;
  top:91px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:509px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:43px;
  width:242px;
  height:34px;
  -webkit-transform:rotate(143deg);
  -moz-transform:rotate(143deg);
  -ms-transform:rotate(143deg);
  transform:rotate(143deg);
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:221px;
  width:218px;
  height:36px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:133px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:509px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:69px;
  width:278px;
  height:42px;
  -webkit-transform:rotate(132deg);
  -moz-transform:rotate(132deg);
  -ms-transform:rotate(132deg);
  transform:rotate(132deg);
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:251px;
  width:262px;
  height:44px;
  -webkit-transform:rotate(28deg);
  -moz-transform:rotate(28deg);
  -ms-transform:rotate(28deg);
  transform:rotate(28deg);
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:191px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:615px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:39px;
  width:132px;
  height:14px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:147px;
  width:132px;
  height:14px;
  -webkit-transform:rotate(73deg);
  -moz-transform:rotate(73deg);
  -ms-transform:rotate(73deg);
  transform:rotate(73deg);
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:648px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:48px;
  width:118px;
  height:14px;
  -webkit-transform:rotate(79deg);
  -moz-transform:rotate(79deg);
  -ms-transform:rotate(79deg);
  transform:rotate(79deg);
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:142px;
  width:122px;
  height:16px;
  -webkit-transform:rotate(41deg);
  -moz-transform:rotate(41deg);
  -ms-transform:rotate(41deg);
  transform:rotate(41deg);
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:101px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:615px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:55px;
  width:168px;
  height:16px;
  -webkit-transform:rotate(49deg);
  -moz-transform:rotate(49deg);
  -ms-transform:rotate(49deg);
  transform:rotate(49deg);
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:163px;
  width:188px;
  height:14px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:615px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:31px;
  width:168px;
  height:14px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:137px;
  width:170px;
  height:14px;
  -webkit-transform:rotate(53deg);
  -moz-transform:rotate(53deg);
  -ms-transform:rotate(53deg);
  transform:rotate(53deg);
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:922px;
  width:448px;
  height:30px;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:144px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:823px;
  width:1px;
  height:143px;
  display:flex;
  -webkit-transform:rotate(67.1686427562982deg);
  -moz-transform:rotate(67.1686427562982deg);
  -ms-transform:rotate(67.1686427562982deg);
  transform:rotate(67.1686427562982deg);
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:145px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:822px;
  width:1px;
  height:144px;
  display:flex;
  -webkit-transform:rotate(-67.0924253863755deg);
  -moz-transform:rotate(-67.0924253863755deg);
  -ms-transform:rotate(-67.0924253863755deg);
  transform:rotate(-67.0924253863755deg);
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:952px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:86px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:877px;
  width:5px;
  height:70px;
  display:flex;
  -webkit-transform:rotate(5.0566848326838deg);
  -moz-transform:rotate(5.0566848326838deg);
  -ms-transform:rotate(5.0566848326838deg);
  transform:rotate(5.0566848326838deg);
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:749px;
  width:55px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:86px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:767px;
  width:5px;
  height:70px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:127px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:857px;
  width:5px;
  height:111px;
  display:flex;
  -webkit-transform:rotate(64.5240430406224deg);
  -moz-transform:rotate(64.5240430406224deg);
  -ms-transform:rotate(64.5240430406224deg);
  transform:rotate(64.5240430406224deg);
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:749px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:79px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:773px;
  width:5px;
  height:63px;
  display:flex;
  -webkit-transform:rotate(-161.07534239217deg);
  -moz-transform:rotate(-161.07534239217deg);
  -ms-transform:rotate(-161.07534239217deg);
  transform:rotate(-161.07534239217deg);
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
