body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-274.6792817660532px;
  width:616.3207182339468px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:160px;
  width:163px;
  height:34px;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:244px;
  width:224px;
  height:30px;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:193px;
  width:0px;
  height:0px;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:23px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(-64.74683660542613deg);
  -moz-transform:rotate(-64.74683660542613deg);
  -ms-transform:rotate(-64.74683660542613deg);
  transform:rotate(-64.74683660542613deg);
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:192px;
  width:0px;
  height:0px;
}
#u473_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:24px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(-124.41836447905621deg);
  -moz-transform:rotate(-124.41836447905621deg);
  -ms-transform:rotate(-124.41836447905621deg);
  transform:rotate(-124.41836447905621deg);
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:372px;
  width:310px;
  height:34px;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:94px;
  height:34px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:92px;
  height:34px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:638px;
  width:1px;
  height:40px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:782px;
  width:242px;
  height:34px;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:101px;
  height:34px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:706px;
  width:242px;
  height:30px;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:30px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:713px;
  width:28px;
  height:16px;
  display:flex;
}
#u485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:706px;
  width:121px;
  height:30px;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:638px;
  width:0px;
  height:0px;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:30px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(-35.99149625797484deg);
  -moz-transform:rotate(-35.99149625797484deg);
  -ms-transform:rotate(-35.99149625797484deg);
  transform:rotate(-35.99149625797484deg);
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:707px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-37px;
  width:72px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:734px;
  width:0px;
  height:0px;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:20px;
  width:88px;
  height:8px;
  -webkit-transform:rotate(-34.61114218453039deg);
  -moz-transform:rotate(-34.61114218453039deg);
  -ms-transform:rotate(-34.61114218453039deg);
  transform:rotate(-34.61114218453039deg);
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:782px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-26px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(43.78112476486871deg);
  -moz-transform:rotate(43.78112476486871deg);
  -ms-transform:rotate(43.78112476486871deg);
  transform:rotate(43.78112476486871deg);
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:604px;
  width:146px;
  height:34px;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  display:flex;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
