
.gitignore
.idea/workspace.xml
target/classes/SearchWithMemoryIndex.class
target/classes/io/
target/classes/lucene/
target/generated-sources/
!/data/
data/
target/classes/LeetCode/
!/data2/
!/Lucene6_4_0/
!/Lucene6_5_0/
