body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:2692px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:720px;
  width:66px;
  height:66px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:624px;
  width:66px;
  height:66px;
  display:flex;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:624px;
  width:66px;
  height:66px;
  display:flex;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:624px;
  width:66px;
  height:66px;
  display:flex;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:624px;
  width:66px;
  height:66px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:518px;
  width:66px;
  height:66px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:518px;
  width:66px;
  height:66px;
  display:flex;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:411px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:518px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-30px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:464px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:198px;
  height:10px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:624px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-30px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:720px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:720px;
  width:0px;
  height:0px;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-26px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:720px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:720px;
  width:0px;
  height:0px;
}
#u177_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:720px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-26px;
  width:50px;
  height:12px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:720px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-26px;
  width:54px;
  height:12px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:720px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:720px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:624px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-32px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:624px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-32px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:624px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-32px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:859px;
  width:1089px;
  height:30px;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:859px;
  width:107px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:786px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:12px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:46px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(78deg);
  -moz-transform:rotate(78deg);
  -ms-transform:rotate(78deg);
  transform:rotate(78deg);
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:786px;
  width:0px;
  height:0px;
}
#u199_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(82deg);
  -moz-transform:rotate(82deg);
  -ms-transform:rotate(82deg);
  transform:rotate(82deg);
}
#u199_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:48px;
  width:42px;
  height:10px;
  -webkit-transform:rotate(105deg);
  -moz-transform:rotate(105deg);
  -ms-transform:rotate(105deg);
  transform:rotate(105deg);
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:786px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(84deg);
  -moz-transform:rotate(84deg);
  -ms-transform:rotate(84deg);
  transform:rotate(84deg);
}
#u200_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:48px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:786px;
  width:0px;
  height:0px;
}
#u201_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:14px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u201_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:50px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:786px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:14px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:48px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:786px;
  width:0px;
  height:0px;
}
#u203_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:14px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(102deg);
  -moz-transform:rotate(102deg);
  -ms-transform:rotate(102deg);
  transform:rotate(102deg);
}
#u203_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:50px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(125deg);
  -moz-transform:rotate(125deg);
  -ms-transform:rotate(125deg);
  transform:rotate(125deg);
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:786px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:14px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:44px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(129deg);
  -moz-transform:rotate(129deg);
  -ms-transform:rotate(129deg);
  transform:rotate(129deg);
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:786px;
  width:0px;
  height:0px;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:16px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:50px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(133deg);
  -moz-transform:rotate(133deg);
  -ms-transform:rotate(133deg);
  transform:rotate(133deg);
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1679px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1787px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1891px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1998px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2103px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2211px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2316px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:2422px;
  top:698px;
  width:66px;
  height:66px;
  display:flex;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1733px;
  top:602px;
  width:66px;
  height:66px;
  display:flex;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1945px;
  top:602px;
  width:66px;
  height:66px;
  display:flex;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:2153px;
  top:602px;
  width:66px;
  height:66px;
  display:flex;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2363px;
  top:602px;
  width:66px;
  height:66px;
  display:flex;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1838px;
  top:496px;
  width:66px;
  height:66px;
  display:flex;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2260px;
  top:496px;
  width:66px;
  height:66px;
  display:flex;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:2041px;
  top:389px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1871px;
  top:496px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-30px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2103px;
  top:442px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:200px;
  height:10px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1766px;
  top:602px;
  width:0px;
  height:0px;
}
#u223_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-30px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1712px;
  top:698px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:698px;
  width:0px;
  height:0px;
}
#u225_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1924px;
  top:698px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2031px;
  top:698px;
  width:0px;
  height:0px;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-26px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2136px;
  top:698px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-26px;
  width:50px;
  height:12px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2244px;
  top:698px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:54px;
  height:12px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2349px;
  top:698px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-26px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2455px;
  top:698px;
  width:0px;
  height:0px;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-26px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1978px;
  top:602px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-32px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2186px;
  top:602px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-32px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2396px;
  top:602px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-32px;
  width:98px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:856px;
  width:1285px;
  height:30px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2041px;
  top:422px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:10px;
  width:368px;
  height:44px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-609px;
  top:236px;
  width:366px;
  height:48px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-397px;
  top:91px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1838px;
  top:529px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:43px;
  width:242px;
  height:34px;
  -webkit-transform:rotate(143deg);
  -moz-transform:rotate(143deg);
  -ms-transform:rotate(143deg);
  transform:rotate(143deg);
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:221px;
  width:218px;
  height:36px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:133px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2260px;
  top:529px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:69px;
  width:276px;
  height:42px;
  -webkit-transform:rotate(132deg);
  -moz-transform:rotate(132deg);
  -ms-transform:rotate(132deg);
  transform:rotate(132deg);
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:251px;
  width:262px;
  height:44px;
  -webkit-transform:rotate(28deg);
  -moz-transform:rotate(28deg);
  -ms-transform:rotate(28deg);
  transform:rotate(28deg);
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:191px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1799px;
  top:635px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:39px;
  width:132px;
  height:14px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:147px;
  width:132px;
  height:14px;
  -webkit-transform:rotate(73deg);
  -moz-transform:rotate(73deg);
  -ms-transform:rotate(73deg);
  transform:rotate(73deg);
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1978px;
  top:668px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:48px;
  width:118px;
  height:14px;
  -webkit-transform:rotate(79deg);
  -moz-transform:rotate(79deg);
  -ms-transform:rotate(79deg);
  transform:rotate(79deg);
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:120px;
  height:16px;
  -webkit-transform:rotate(41deg);
  -moz-transform:rotate(41deg);
  -ms-transform:rotate(41deg);
  transform:rotate(41deg);
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:101px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2219px;
  top:635px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:55px;
  width:168px;
  height:16px;
  -webkit-transform:rotate(49deg);
  -moz-transform:rotate(49deg);
  -ms-transform:rotate(49deg);
  transform:rotate(49deg);
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:163px;
  width:188px;
  height:14px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2429px;
  top:635px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:31px;
  width:170px;
  height:14px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:137px;
  width:170px;
  height:14px;
  -webkit-transform:rotate(53deg);
  -moz-transform:rotate(53deg);
  -ms-transform:rotate(53deg);
  transform:rotate(53deg);
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1881px;
  top:978px;
  width:246px;
  height:30px;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:533px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:666px;
  width:1px;
  height:532px;
  display:flex;
  -webkit-transform:rotate(99.9035251935764deg);
  -moz-transform:rotate(99.9035251935764deg);
  -ms-transform:rotate(99.9035251935764deg);
  transform:rotate(99.9035251935764deg);
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:644px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:2445px;
  top:610px;
  width:1px;
  height:643px;
  display:flex;
  -webkit-transform:rotate(-98.196634847718deg);
  -moz-transform:rotate(-98.196634847718deg);
  -ms-transform:rotate(-98.196634847718deg);
  transform:rotate(-98.196634847718deg);
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:960px;
  width:846px;
  height:30px;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:63px;
  height:30px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:0px;
  width:88px;
  height:30px;
  display:flex;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:88px;
  height:30px;
  display:flex;
}
#u259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:85px;
  height:30px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:0px;
  width:82px;
  height:30px;
  display:flex;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:0px;
  width:85px;
  height:30px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:509px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:671px;
  width:1px;
  height:508px;
  display:flex;
  -webkit-transform:rotate(82.0055215787611deg);
  -moz-transform:rotate(82.0055215787611deg);
  -ms-transform:rotate(82.0055215787611deg);
  transform:rotate(82.0055215787611deg);
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:249px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:801px;
  width:1px;
  height:248px;
  display:flex;
  -webkit-transform:rotate(106.262238412304deg);
  -moz-transform:rotate(106.262238412304deg);
  -ms-transform:rotate(106.262238412304deg);
  transform:rotate(106.262238412304deg);
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:991px;
  width:0px;
  height:0px;
}
#u268_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:25px;
  width:126px;
  height:34px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u268_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:33px;
  width:346px;
  height:18px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:53px;
  top:53px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:992px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:50px;
  width:234px;
  height:50px;
  -webkit-transform:rotate(29deg);
  -moz-transform:rotate(29deg);
  -ms-transform:rotate(29deg);
  transform:rotate(29deg);
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:58px;
  width:588px;
  height:30px;
  -webkit-transform:rotate(-9deg);
  -moz-transform:rotate(-9deg);
  -ms-transform:rotate(-9deg);
  transform:rotate(-9deg);
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:149px;
  top:102px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
