body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-187px;
  width:1089px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:507px;
  width:66px;
  height:66px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:411px;
  width:66px;
  height:66px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:411px;
  width:66px;
  height:66px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:411px;
  width:66px;
  height:66px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:411px;
  width:66px;
  height:66px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:305px;
  width:66px;
  height:66px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:305px;
  width:66px;
  height:66px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:198px;
  width:66px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:305px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-29px;
  width:188px;
  height:8px;
  -webkit-transform:rotate(164.393377857069deg);
  -moz-transform:rotate(164.393377857069deg);
  -ms-transform:rotate(164.393377857069deg);
  transform:rotate(164.393377857069deg);
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:251px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:198px;
  height:8px;
  -webkit-transform:rotate(-164.134292197226deg);
  -moz-transform:rotate(-164.134292197226deg);
  -ms-transform:rotate(-164.134292197226deg);
  transform:rotate(-164.134292197226deg);
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:411px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-31px;
  width:98px;
  height:12px;
  -webkit-transform:rotate(148.934835114501deg);
  -moz-transform:rotate(148.934835114501deg);
  -ms-transform:rotate(148.934835114501deg);
  transform:rotate(148.934835114501deg);
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:507px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(125.272421448598deg);
  -moz-transform:rotate(125.272421448598deg);
  -ms-transform:rotate(125.272421448598deg);
  transform:rotate(125.272421448598deg);
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:507px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-25px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(55.6697828044967deg);
  -moz-transform:rotate(55.6697828044967deg);
  -ms-transform:rotate(55.6697828044967deg);
  transform:rotate(55.6697828044967deg);
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:507px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(126.193207305565deg);
  -moz-transform:rotate(126.193207305565deg);
  -ms-transform:rotate(126.193207305565deg);
  transform:rotate(126.193207305565deg);
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:507px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-25px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(56.6336339989404deg);
  -moz-transform:rotate(56.6336339989404deg);
  -ms-transform:rotate(56.6336339989404deg);
  transform:rotate(56.6336339989404deg);
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:507px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-25px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(124.019349989826deg);
  -moz-transform:rotate(124.019349989826deg);
  -ms-transform:rotate(124.019349989826deg);
  transform:rotate(124.019349989826deg);
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:507px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-25px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(50.4773687288289deg);
  -moz-transform:rotate(50.4773687288289deg);
  -ms-transform:rotate(50.4773687288289deg);
  transform:rotate(50.4773687288289deg);
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:507px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-25px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(120.34324888424deg);
  -moz-transform:rotate(120.34324888424deg);
  -ms-transform:rotate(120.34324888424deg);
  transform:rotate(120.34324888424deg);
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:507px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-25px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(51.1701750950296deg);
  -moz-transform:rotate(51.1701750950296deg);
  -ms-transform:rotate(51.1701750950296deg);
  transform:rotate(51.1701750950296deg);
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:411px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-31px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(32.8762617522106deg);
  -moz-transform:rotate(32.8762617522106deg);
  -ms-transform:rotate(32.8762617522106deg);
  transform:rotate(32.8762617522106deg);
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:411px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-31px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(147.750025835816deg);
  -moz-transform:rotate(147.750025835816deg);
  -ms-transform:rotate(147.750025835816deg);
  transform:rotate(147.750025835816deg);
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:411px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-31px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(34.1956054024607deg);
  -moz-transform:rotate(34.1956054024607deg);
  -ms-transform:rotate(34.1956054024607deg);
  transform:rotate(34.1956054024607deg);
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:646px;
  width:1089px;
  height:30px;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:734px;
  width:107px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:573px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:13px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u148_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:47px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(78deg);
  -moz-transform:rotate(78deg);
  -ms-transform:rotate(78deg);
  transform:rotate(78deg);
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:573px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:13px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(82deg);
  -moz-transform:rotate(82deg);
  -ms-transform:rotate(82deg);
  transform:rotate(82deg);
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:49px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(105deg);
  -moz-transform:rotate(105deg);
  -ms-transform:rotate(105deg);
  transform:rotate(105deg);
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:573px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:13px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(84deg);
  -moz-transform:rotate(84deg);
  -ms-transform:rotate(84deg);
  transform:rotate(84deg);
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:49px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:573px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:15px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:49px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:573px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:13px;
  width:42px;
  height:10px;
  -webkit-transform:rotate(98deg);
  -moz-transform:rotate(98deg);
  -ms-transform:rotate(98deg);
  transform:rotate(98deg);
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:47px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:573px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:15px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(102deg);
  -moz-transform:rotate(102deg);
  -ms-transform:rotate(102deg);
  transform:rotate(102deg);
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:49px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(125deg);
  -moz-transform:rotate(125deg);
  -ms-transform:rotate(125deg);
  transform:rotate(125deg);
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:573px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:13px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(106deg);
  -moz-transform:rotate(106deg);
  -ms-transform:rotate(106deg);
  transform:rotate(106deg);
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:45px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(129deg);
  -moz-transform:rotate(129deg);
  -ms-transform:rotate(129deg);
  transform:rotate(129deg);
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:573px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:15px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:51px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(133deg);
  -moz-transform:rotate(133deg);
  -ms-transform:rotate(133deg);
  transform:rotate(133deg);
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
